@charset "UTF-8";
html {
    font-family: sans-serif;
}
strong {
    font-weight: bold;
}
button {
    cursor: pointer;
}
body {
    background: url("../images/bg.png");
}
a:link, a:visited {
    color: none;
}
.clear {
    clear: both;
}
.wrap {
    margin: 0 auto;
    max-width: 1186px;
    overflow: auto;
}
.active {
    color: #99B92A;
}
/*top_bar*/

.top_bar {
    font-family: sans-serif;
    font-size: 14px;
    color: #999;
    line-height: 28px;
    border-top: 3px solid #99B92A;
    background: #fff;
    overflow: auto;
    margin-bottom: 35px;
}
.top_bar_inner {
    margin: 0 auto;
    max-width: 1186px;
    overflow: auto;
}
.top_bar_select {
    float: left;
}
.top_bar select {
    -webkit-appearance: none;
    -moz-appearance: window;
    padding: 2px 15px 2px 2px;
    color: #99B92A;
    border: none;
    background-image: url("../images/select_arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 40px;
}
.top_bar a {
    color: #99B92A;
}
.top_bar_menu {
    float: right;
}
.top_bar_menu li {
    display: inline;
    border-right: 2px solid #999;
    padding: 0 10px;
}
.top_bar_menu li:last-child {
    border-right: none;
}
/*header*/

header {
    margin: 0 auto;
    max-width: 1186px;
  overflow: hidden;
}
header .logo {
    float: left;
    margin-bottom: 35px;
     overflow: hidden;
}
header .logo a {
    text-indent: -9999px;
    width: 341px;
    height: 55px;
    display: block;
   
    background: url("../images/logo.png") no-repeat center 0;
}
.social {
    margin-bottom: 35px;
    float: right;
    line-height: 40px;
}
.social li {
    display: inline-block;
}
.search, .search_btn {
    margin: 0;
    display: inline-block;
    float: left;
}
.search {
    width: 254px;
    position: relative;
    left: 40px;
    padding: 1px 10px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #CFCFCF;
    border-radius: 10px;
    height: 34px;
    background: #FFF;
}
.search_btn {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: url("../images/icon01.png") 0 0 no-repeat;
}
.rss, .pinterest, .facebook, .twitter, .dribble {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.rss {
    background: url("../images/icon02.png")
}
.pinterest {
    background: url("../images/icon03.png")
}
.facebook {
    background: url("../images/icon04.png")
}
.twitter {
    background: url("../images/icon05.png")
}
.dribble {
    background: url("../images/icon06.png")
}
header nav {
    display: block;
    margin-bottom: 60px;
    clear: both;
    border-width: 8px 0;
    -webkit-border-image: url(../images/border.png) repeat 8;
    -o-border-image: url(../images/border.png) repeat 8;
    border-image: url(../images/border.png) repeat 8;
    overflow: auto;
}
nav li {
    padding: 30px 0;
    float: left;
    margin-right: 30px;
    display: inline-block;
}
nav li:last-child {
    padding: 0;
    float: right;
    margin: 0;
    margin-top: 7px;
}
nav a {
    font-weight: bold;
    color: black;
}
nav button {
    font-size: 15px;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    padding-left: 50px;
    background: #bbd239 url("../images/shop_cart.png")no-repeat scroll 20px 10px;
}
/*slider*/

.slider {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1574px;
    height: 421px;
    overflow: hidden;
    margin: 0px auto;
}
.slider_inner {
    cursor: move;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1574px;
    height: 421px;
    overflow: hidden
}
.jssora13l, .jssora13r {
    display: block;
    position: absolute;
    /* size of arrow element */
    
    width: 84px;
    height: 84px;
    cursor: pointer;
    background: url("../images/slider_btn.png") no-repeat;
    overflow: hidden;
}
.jssora13l:hover, .jssora13r:hover {
    background-color: #999;
    border-radius: 50%;
}
.jssora13l {
    top: 123px;
    left: 30px;
    background-position: 0 2px;
}
.jssora13r {
    top: 123px;
    right: 30px;
    background-position: -81px 2px;
}
/*.jssora13l:hover { background-position: -130px -35px; }
            .jssora13r:hover { background-position: -190px -35px; }
            .jssora13l.jssora13ldn { background-position: -250px -35px; }
            .jssora13r.jssora13rdn { background-position: -310px -35px; }*/
/*content*/

.visit {
    background: #fff;
    font-size: 32px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 65px;
}
.visit h2 {
    line-height: 60px;
    float: left;
    font-family: Arial;
}
.visit button {
    float: right;
    font-size: 15px;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background: #bbd239;
}
.item_title {
    background: url("../images/border.png") repeat-X center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}
.item_title h3 {
    padding-right: 10px;
    float: left;
    background: url("../images/bg.png");
}
.item_title button {
    padding: 5px;
    color: #fff;
    background: #99b92a;
    border-radius: 7px;
    float: right;
}
.product {
    clear: both;
    margin-bottom: 35px;
    position: relative;
    display: inline-block;
    width: 280px;
    background: #fff;
    margin-right: 14px;
    border: 1px solid #AAA;
    border-radius: 5px;
}
.product:last-child {
    margin-right: 0;
}
.product:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 3px;
    right: 3px;
    bottom: -5px;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
}
.product:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 1px;
    right: 1px;
    bottom: -3px;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
}
.product a {
    display: block;
    color: #bbd239;
    margin: 20px 15px;
}
.price {
    margin: 10px 15px;
    overflow: auto;
}
.price span {
    line-height: 36px;
    float: left;
    font-size: 18px;
}
.price button {
    float: right;
    border-radius: 5px;
    padding: 5px;
    background: #818181;
    color: #fff;
}
.detail {
    color: #999;
    line-height: 25px;
    padding: 20px 15px;
    border: 1px solid #999;
    border-right: 0;
    border-left: 0;
}
.detail h4 {
    color: #000;
    font-size: 18px;
}
.brand {
    position: relative;
    overflow: auto;
    margin-bottom: 35px;
}
.brand li {
    float: left;
    background: #fff;
    border: 1px solid #999;
    display: block;
    width: 234px;
    height: 130px;
    line-height: 130px;
    text-align: center;
}
.brand img {
    vertical-align: middle;
}
/*footer*/

#goTop {
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: #bbd239 url("../images/gotop.png")no-repeat 8px;
    position: fixed;
    right: 20px;
    bottom: 100px;
}
#goTop:hover {
    animation: animatedBG 0.5s infinite alternate;
    -webkit-animation: animatedBG 0.5s infinite alternate;
}
-webkit-@keyframes animatedBG {
    0% {
        background-position: 8px 40%;
    }
    100% {
        background-position: 8px 70%;
    }
}
@keyframes animatedBG {
    0% {
        background-position: 8px 40%;
    }
    100% {
        background-position: 8px 70%;
    }
}
footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #999;
    background: #fff;
    overflow: auto;
    padding: 50px 0;
}
.footer_inner {
    margin: 0 auto;
    max-width: 1186px;
    overflow: auto;
}
.footer_inner>div {
    float: left;
    margin-right: 45px;
}
.footer_inner>div:last-child {
    margin-right: 0;
}
.footer_inner h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
}
.footer_inner .logo a {
    text-indent: -9999px;
    width: 240px;
    height: 50px;
    display: block;
    background: url("../images/logo.png") no-repeat;
    background-size: 250px 50px;
}
.follow li {
    display: inline;
}
.post li {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px 10px 10px 80px;
    line-height: 25px;
    font-size: 15px;
}
.post h4 {
    font-weight: bold;
}
.post a {
    color: #99B92A;
}
.post1 {
    background: url("../images/post01.png")no-repeat;
}
.post2 {
    background: url("../images/post02.png")no-repeat;
}
.contact>ul>li {
    line-height: 20px;
    margin-bottom: 25px;
}
.people li {
    overflow: auto;
    margin-bottom: 10px;
}
.people figure {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #999;
    float: left;
}
.people li>div {
    margin-right: 10px;
    width: 80px;
    float: left;
    text-align: center;
}
#user01 {
    background: url("../images/user01.png") -12px 0px no-repeat;
}
#user02 {
    background: url("../images/user02.png") -33px 0px no-repeat;
}
.people span {
    font-weight: bold;
}
.people p {
    float: left;
    width: 188px;
    height: 70px;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 33px;
    background: #F6F5F7 url("../images/dot.png")no-repeat right 5px bottom 5px;
}
/*bot_bar*/

.bot_bar {
    font-family: sans-serif;
    font-size: 14px;
    color: #999;
    line-height: 28px;
    border-top: 3px solid #99B92A;
    background: #000;
    overflow: auto;
}
.bot_bar li {
    display: inline;
    padding: 0 5px;
}
.bot_bar a {
    color: #999;
}
.bot_bar_inner {
    margin: 0 auto;
    max-width: 1186px;
    overflow: auto;
}
.bot_bar_linkgroup {
    float: left;
}
.copyright {
    float: right;
}
/*iphone 320px*/

@media screen and (min-width:320px) and (max-width: 567px) {
    h1 {
        background-color: yellow;
    }
    .top_bar_select{
    	display: none;
    }
    .top_bar_menu{
        float: none;
        text-align: center;
    }
    .social{
    	display: none;
    }

    header .logo{
        float: none;
        clear: both;
text-align: center;
    }
    header .logo a{
 width: 100%;
    }
    .visit{
    	display: none;
    }
    header nav{
        margin-bottom: 0;
    }
    nav li{
    	margin:0;
    	padding: 10px 0;
    	width: 50%;
    	text-align: center;
    }
    nav li:last-child{

    	display: none;
    }
    .product{
    	width: 90%;
    	margin:0 5%;
    	text-align: center;
    }
    .item_title{
            width: 90%;
        margin:15px 5%;
    }
    .brand li{
        width: 90%;
        margin:0 5%;
    }
    .footer_inner>div{
        width: 310px;
        float: none;
        text-align: center;
        margin:0 auto;
    }
    .follow .logo{
        display: none;
    }
    .footer_inner>div:last-child{
        margin-right: auto;
    }
  .bot_bar_inner{
    text-align: center;
  }
  .bot_bar_linkgroup,.copyright{
    float: none;
  }
}
/*iphone horizontal 568px*/
@media screen and (min-width: 568px) and (max-width: 765px){
    h1 {
        background-color: blue;
    }
}

/*ipad 768px*/

@media only screen and (min-width: 769px) {
    h1 {
       
    }
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    max-width: 100%;
}
/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    /*left: -5px;
    /*fix other elements on the page moving (on Chrome)*/
    
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
    right: 10px;
    background: url(images/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
